.body {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgb(0, 0, 0, 0.25)), url(../../assets/Images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.card {
    color: white!important;
    background-color: rgb(40, 116, 40);
    margin-top: 20%;
    margin-bottom: 20%;
}

.login{
    background-color: #F29366;
}

a {
    text-decoration: none;
}

@media screen and (max-width:576px) {
    .card {
        margin-top: 10%;
        margin-bottom: 10%;
        background-color: hsl(190, 80%, 88%);
    }
    .body{
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8)), url(../../assets/Images/login-bg.jpg);
    }
}