<div class="container">
    <div class="mt-5 mb-5 d-flex flex-column justify-content-center align-items-center">
     <div>
         <img class="d-block" src="https://www.gstatic.com/youtube/src/web/htdocs/img/monkey.png" alt="">
     </div>
     <div class="display-3 text-danger">Page Not Found!!!</div>
     <div class="text-muted">Try going through these links :)</div>
     <div class="text-center mt-3">
         <h5>Shop</h5>
           <ul class="list-unstyled">
               <li><a href="#">Fruits & Vegetables</a></li>
               <li><a href="#">Snacks</a></li>
           </ul>
           <a href=""><h5>Cart</h5></a>
     </div> 
    </div>
 </div>