<div class="typewriter-container">
    <div class="typewriter d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4">Welcome To Daily Fresh</h1>
        <div class="beside">
            <span class="display-5" #tw1> </span><span #tw3 class="display-5"></span>
        </div>
        <button class="btn btn-light mt-4"> <a routerLink="/snacks">
                <h4>Shop</h4>
            </a> </button>
    </div>
</div>

<div class="container">
    <div class="features mt-4">
        <h3 class="text-center">Features</h3>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3">
            <div class="col">
                <div class="card shake">
                    <div class="card-body">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="img-1 text-center">
                                <img src="../../assets/Images/Cart.png" width="100px" alt="">
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <h5>Fast Delivery</h5>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nihil, esse ipsum
                            consectetur veniam asperiores vel est assumenda cum libero ipsa enim nostrum doloremque
                            autem rerum explicabo exercitationem, unde quos!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shake">
                    <div class="card-body">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="img-1 text-center">
                                <img src="../../assets/Images/Farmer-removebg-preview.png" width="100px" alt="">
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <h5>Support Local Farmers</h5>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nihil, esse ipsum
                            consectetur veniam asperiores vel est assumenda cum libero ipsa enim nostrum doloremque
                            autem rerum explicabo exercitationem, unde quos!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col shake">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center mb-2">
                            <div class="img-1 text-center">
                                <img src="../../assets/Images/Cs-removebg-preview (2).png" width="100px" height="100px"
                                    alt="">
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <h5>24/7 Service</h5>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam nihil, esse ipsum
                            consectetur veniam asperiores vel est assumenda cum libero ipsa enim nostrum doloremque
                            autem rerum explicabo exercitationem, unde quos!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Now!! -->
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 mt-4">
        <div class="col">
            <a routerLink="/snacks">
                <div class="card snacks">
                    <div class="card-body">
                        <div class="snacks-txt">
                            <p class="display-6 text-danger">Discount Upto 55%*</p>
                            <p class="text-muted">On Snacks</p>
                            <button class="btn btn-danger">Shop Now!!</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="/fruits-vegitables">
                <div class="card fruits">
                    <div class="card-body">
                        <div class="fruits-txt">
                            <p class="display-6 text-danger">Discount Upto 85%*</p>
                            <p class="text-muted">On Fruits & Vegetables</p>
                            <button class="btn btn-danger">Shop Now!!</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Why Choose Us -->
    <h3 class="mt-4">Why Choose Us?</h3>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3">
        <div class="col">
            <div class="card">
                <div class="card-body farmers d-flex justify-content-center align-items-center flex-column">
                    <h4 class="text-white">Supports local farmers</h4>
                    <p class="text-white">All the fruits & vegetables are bought from the local farmer</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body variety d-flex justify-content-center align-items-center flex-column">
                    <h4 class="text-dark">Variety of Products</h4>
                    <p class="text-dark">We present you with a wide Variety of products</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body price d-flex justify-content-center align-items-center flex-column">
                    <h4 class="text-white">Reasonable Prices</h4>
                    <p class="text-white">The products are are sold at the minimum price</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-danger mt-3">Shop Now!!</button>
    </div>
</div>
<!-- Coustmer Review -->
<div class="coustmer-review mt-5">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="grid">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="card-body d-grid">
                                <img class="profile"
                                    src="https://images.unsplash.com/photo-1583664426440-daef00e4ad6d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29uYXxlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                                    width="125px" alt="">
                                <h3 style="display: inline;">Name</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sequi est
                                    voluptatum ipsa delectus quod esse dolorem inventore animi accusamus. Numquam culpa
                                    ratione, labore rerum aperiam possimus eaque deleniti maxime.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body d-grid">
                                <img class="profile"
                                    src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29uYXxlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                                    width="125px" alt="">
                                <h3 style="display: inline;">Name</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sequi est
                                    voluptatum ipsa delectus quod esse dolorem inventore animi accusamus. Numquam culpa
                                    ratione, labore rerum aperiam possimus eaque deleniti maxime.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body d-grid">
                                <img class="profile"
                                    src="https://images.unsplash.com/photo-1606744841792-e92948115a84?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fHByb2ZpbGUlMjBwaWN0dXJlfGVufDB8MnwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                                    width="125px" alt="">
                                <h3 style="display: inline;">Name</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sequi est
                                    voluptatum ipsa delectus quod esse dolorem inventore animi accusamus. Numquam culpa
                                    ratione, labore rerum aperiam possimus eaque deleniti maxime.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<!--Email NewsLetter-->
<div class="container">
    <div class="email-newsletter mt-5 mb-5">
        <div class="row">
            <div class="col-6 d-flex flex-column justify-content-center mt-5 ms-4">
                <h1 class="text-light h-100">Get all the Updates!</h1>
                <ul class="list-unstyled text-light">
                    <li>Sales</li>
                    <li>Shipping</li>
                    <li>& More</li>
                </ul>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Subscribe to our Newsletter</h2>
                        <form class="mt-5" #ref="ngForm" (ngSubmit)="addNewLetterSubscription()">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="email" placeholder="Email Address"
                                    #refEmail='ngModel' pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                                    [(ngModel)]='users.email'>
                                <button class="input-group-text btn-danger" type="submit" id="submit"><i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                        </form>
                        <div class="text-warning" *ngIf="(ref.submitted||refEmail.dirty) && refEmail.errors?.pattern">
                            This does not look like an Email :(</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>